@use '../../scss/placeholder.scss';
@use '../../scss/shared.scss';

.products {
    padding-top: 136px;
    width: 100%;
}

.products__title{
    font-size: shared.$main-text-font-size;
    margin-bottom: 32px;
}

.products__text {
    font-size: shared.$main-text-font-size;
    margin-bottom: 32px;
}

