@use '../../../../../scss/shared.scss' as shared;

.nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

    @media  screen and (min-width: 768px) {
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }
}

.nav__item {
    color: shared.$secondary-text-color;
    font-size: shared.$main-text-font-size;
    cursor: pointer;

    transition: shared.$transition-color;

    &--current {
            position: relative;
        }
    
    &--current::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        background-color: shared.$social-btn-hover-color;

        @media screen and (min-width: 768px) {
            bottom: -26px;
        }
    }

    &:hover {
        color:shared.$nav-hover-color;
    }

}