@use '../../scss/shared.scss' as shared;


.menu .mobile-menu.ant-drawer .ant-drawer-content-wrapper {
    top: 84px;
}

.mobile-menu.ant-drawer .ant-drawer-body {
    padding: 104px 20px;
}

.mobile-menu.ant-drawer .ant-drawer-body,
.mobile-menu.ant-drawer .ant-menu-light {
    background-color: #38373D;
}

.mobile-menu__btn {
    background-color: transparent;
    border: none;
}
