@use '../variables/font-sizes.scss' as font-sizes;
@use '../variables/radii.scss' as radii;

%action-button {
    width: 170px;
    height: 48px;
    border-radius: radii.$radi-btn;
    font-size: font-sizes.$btn-font-size;
    border: none;
}

%social-btn {
    border-radius: radii.$radi-round;
    display: flex;
    justify-content: center;
    align-items: center;
}