@use '../../../../../scss/variables/colors.scss' as colors;
@use '../../../../../scss/variables/transitions.scss' as transitions;
@use '../../../../../scss/placeholders/buttons.scss';

.social {
    display: flex;
    gap: 16px;
}

.social__item {
    @extend %social-btn;
    width: 24px;
    height: 24px;
    color: #000;
    background-color: colors.$social-btn-color;

    transition: transitions.$transition-background-color;
    transition: transitions.$transition-color;

    &:hover,
    &:focus {
        background-color: colors.$social-btn-hover-color;
        color: colors.$social-btn-color;
    }
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__icon {
    fill: currentColor;
}