@use '../../../../scss/variables/colors.scss' as colors;
@use '../../../../scss/variables/transitions.scss' as transitions;
@use '../../../../scss/variables/font-sizes.scss' as font-sizes;

.instruments__title {
   font-size: font-sizes.$main-title-font-size; 
   margin-bottom: 32px;
   text-align: center;
}

.instruments__text {
    color: colors.$main-text-color;
    font-size: font-sizes.$main-text-font-size;
    margin: 0 auto;
    margin-bottom: 64px;
    text-align: center;
    
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.instruments__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.instruments__item {
    color: colors.$main-text-color;

    transition: transitions.$transition-color;

    &:hover,
    &:focus {
        color: colors.$logo-hover-color;
    }
}

.instruments__icon {
    fill: currentColor;
}