.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
}

.header__nav-social {
    display: flex;
    gap: 64px;
    align-items: center;
}