@use '../../scss/shared.scss' as shared;

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: shared.$main-background-color;
    z-index: 1001;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}