.productCard {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    border-radius: $radi-box;
    padding: 16px;
    background-color: $card-color;
}

.productCardImgWrap {
    position: relative;
    overflow: hidden;
    border-radius: 35px;
}

.productCardImg {
    width: 100%;
}

.productCardFavorite {
    position: absolute;
    bottom: 20px;
    right: 20px
}

.productCardName {
    font-size: $secondary-title-font-size;
    color: $main-text-color;
}

.productCardDescription {
    color: $main-text-color;
}