@use '../abstracts/placeholders/labels.scss';
@use '../abstracts/variables/font-sizes.scss' as font-sizes;
@use '../abstracts/variables/colors.scss' as colors;
@use '../abstracts/variables/radii.scss' as radii;

.article {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
    background-color: colors.$card-color;
    border-radius: radii.$radi-box;
    padding: 30px;
    width: 100%;
}

.articleDescription {
    font-size: font-sizes.$secondary-text-font-size;
}

.articleLabel {
    @extend %label;
    width: fit-content;
    background-color: colors.$label-color;
    color: colors.$label-text-color;
}