@use '../abstracts/variables/colors.scss' as colors;
@use '../abstracts/variables/radii.scss' as radii;
@use '../abstracts/variables/transitions.scss' as transitions;
@use '../abstracts/variables/font-sizes.scss' as font-sizes;
@use '../abstracts/placeholders/buttons.scss';

.hero {
    display: flex;
    flex-direction: column;
    gap: 96px;

    @media screen and (min-width: 768px) {
        gap: 160px;
    }
}

.heroSection {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;

    @media screen and (min-width: 768px) {
        justify-content: space-between;

        &.normal {
            flex-direction: row;
        }

        &.reverse {
            flex-direction: row-reverse;
        }
    }
}

.heroImgWrap {
    border-radius: radii.$radi-img;
    overflow: hidden;
}

.heroImg {
    object-fit: contain;
    object-position: center;
    border-radius: radii.$radi-img;
    width: 100%;
}

.heroDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
        align-items: flex-start;
    }
}

.heroTitle {
    text-align: center;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        text-align: left;
        margin-bottom: 32px;
    }
}

.heroText {
    display: inline-block;
    font-size: font-sizes.$main-text-font-size;
    text-align: center;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        text-align: left;
        margin-bottom: 32px;
    }
}

.heroButton {
    @extend %action-button;
    background-color: colors.$main-btn-color;
    color: colors.$main-btn-text-color;
    font-size: font-sizes.$btn-font-size;

    transition: transitions.$transition-background-color;
    transition: transitions.$transition-color;

    &:hover,
    &:focus {
        background-color: colors.$main-btn-hover-color;
        color: colors.$main-btn-color;
    }

    @media screen and (max-width: 767px) {
        width: 236px;
    }
}