@use '../abstracts/variables/colors.scss' as colors;

.menu .mobile-menu.ant-drawer .ant-drawer-content-wrapper {
    top: 84px;
}

.mobile-menu.ant-drawer .ant-drawer-body {
    padding: 104px 20px;
}

.mobile-menu.ant-drawer .ant-drawer-body,
.mobile-menu.ant-drawer .ant-menu-light {
    background-color: colors.$mobile-menu-bg-color;
}

.mobile-menu__btn {
    background-color: transparent;
    border: none;
}