@use '../../../../scss/variables/colors.scss' as colors;
@use '../../../../scss/variables/font-sizes.scss' as font-sizes;
@use '../../../../scss/variables/transitions.scss' as transitions;

.logo {
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
    color: colors.$logo-color;

    transition: transitions.$transition-color;

    &:hover,
    &:focus {
        color: colors.$logo-hover-color;
    }
}

.logo__icon {
    width: 40px;
    height: 44px;
    fill: currentColor;
}

.logo__text {
    font-size: font-sizes.$secondary-title-font-size;
    font-weight: bold;

    transition: transitions.$transition-color;

    .logo:hover &,
    .logo:focus &{
        color: colors.$logo-hover-color;
    }
}