@use '../../../../scss/shared.scss' as shared;

.logo {
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
    color: shared.$logo-color;

    transition: shared.$transition-color;

    &:hover,
    &:focus {
        color: shared.$logo-hover-color;
    }
}

.logo__icon {
    width: 40px;
    height: 44px;
    fill: currentColor;
}

.logo__text {
    font-size: shared.$secondary-title-font-size;
    font-weight: bold;

    transition: shared.$transition-color;

    .logo:hover &,
    .logo:focus &{
        color: shared.$logo-hover-color;
    }
}