@use '../../../scss/placeholders/labels.scss';
@use '../../../scss/variables/font-sizes.scss' as font-sizes;
@use '../../../scss/variables/colors.scss' as colors;
@use '../../../scss/variables/radii.scss' as radii;

.article {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
    background-color: colors.$card-color;
    border-radius: radii.$radi-box;
    padding: 30px;
    width: 100%;
}

.article__img-wrap {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: radii.$radi-box;

    @media screen and (min-width: 768px) {
        width: 250px;
        height: 250px;
    }
}

.article__img {
    width: 100%;
    border-radius: radii.$radi-box;
    object-fit: cover;

    @media screen and (min-width: 768px) {
        width: 250px;
        height: 250px;
    }
}

.article__description {
    font-size: font-sizes.$secondary-text-font-size;
}

.article__label {
    @extend %label;
    width: fit-content;
    background-color: colors.$label-color;
    color: colors.$label-text-color;
}