@use "./scss/variables/font-sizes.scss" as font-sizes;
@use "./scss/variables/colors.scss" as colors;
@use "./scss/variables/font-families.scss" as font-families;
@import '../node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: colors.$main-background-color;
  font-family: font-families.$font-family;
}

h1, h2 {
  color: colors.$main-title-color;
  font-weight: bold;
  line-height: auto;
  font-size: font-sizes.$main-title-font-size;
  margin: 0;
  padding: 0;
}

 h3{
  font-weight: bold;
  font-size: font-sizes.$secondary-title-font-size;
  color: colors.$main-text-color;
  margin: 0;
  padding: 0;
}

p {
  color: colors.$main-text-color;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  height: auto;
}