@use "./scss/shared.scss" as shared;

body {
  background-color: shared.$main-background-color;
  font-family: shared.$font-family;
}

h1 {
  color: shared.$main-title-color;
  font-weight: 700;
  line-height: auto;
  font-size: shared.$main-title-font-size;
}

h2, h3{
  font-weight: 700;
  font-size: shared.$secondary-title-font-size;
  margin: 0;
  padding: 0;
  color: shared.$main-text-color;
}

p {
  font-size: shared.$main-text-font-size;
  color: shared.$main-text-color;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}