@use './shared.scss' as shared;

%action-button {
    width: 170px;
    height: 48px;
    border-radius: shared.$radi-btn;
}

%social-btn {
    border-radius: shared.$radi-round;
}

%label {
    border-radius: shared.$radi-label;
    height: 32px;
    color: shared.$secondary-text-color;
}