@use './shared.scss' as shared;

%action-button {
    width: 170px;
    height: 48px;
    border-radius: shared.$radi-btn;
    font-size: shared.$btn-font-size;
    border: none;
}

%social-btn {
    border-radius: shared.$radi-round;
    display: flex;
    justify-content: center;
    align-items: center;
}

%label {
    font-size: shared.$label-text;
    padding: 8px 12px;
    border-radius: shared.$radi-label;
}