$main-background-color: #11011E;

$logo-hover-color: #0FAE96;
$logo-color: #ECF1F0;

$main-title-color: #ECF1F0;
$main-text-color: #D4D4D4;
$secondary-text-color: #ECF1F0;

$main-btn-color: #0FAE96;
$main-btn-text-color: #ECF1F0;
$main-btn-hover-color: #F9F9F9;

$social-btn-color: #ECF1F0;
$social-btn-hover-color: #058F7B;

$nav-hover-color: #058F7B;

$secondary-btn-color: rgba(255, 255, 255, 0.3);
$secondary-btn-active-color: #ECF1F0;
$secondary-btn-hover-color: #058F7B;

$font-family: Inter, sans-serif;

$main-title-font-size: 34px;
$secondary-title-font-size: 24px;
$btn-font-size: 17px;
$main-text-font-size: 24px;
$label-text: 12px;

$radi-btn: 4px;
$radi-img: 8px;
$radi-box: 16px;
$radi-label: 60px;
$radi-round: 50%;

$transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-border-color: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-border-image: border-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-outline: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);