$main-background-color: #11011E;

$main-title-color: #ECF1F0;
$main-text-color: #D4D4D4;
$secondary-text-color: #ECF1F0;

$main-btn-color: #0FAE96;
$main-btn-hover-color: #F9F9F9;

$social-btn-color: #ECF1F0;
$social-btn-hover-color: #058F7B;

$secondary-btn-color: rgba(255, 255, 255, 0.3);
$secondary-btn-active-color: #ECF1F0;
$secondary-btn-hover-color: #058F7B;

$font-family: Inter, sans-serif;

$main-title-font-size: 34px;
$secondary-title-font-size: 24px;
$main-text-font-size: 17px;
$label-text: 12px;

$radi-btn: 4px;
$radi-img: 8px;
$radi-box: 16px;
$radi-label: 60px;
$radi-round: 50%;